.form-group .custom-switch label.custom-control-label:before {
  top: 0;
}
.form-group .custom-switch label.custom-control-label:after {
  top: 0.25rem;
}
.asteriskField {
    display: none;
}
.alert-tag {
  display: inline-block;
  min-width: 132px;
}
