{% extends 'base.html' %}
{% load crispy_forms_tags static request_tags %}
{% block content %}
<div class="navbar-container ">
  <nav class="navbar navbar-expand-lg bg-white navbar-light position-fixed" data-sticky="top">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="{% static "assets/img/ihorizon.png" %}" alt="ihorizon logo">
        </div>
        <div class="col">
        </div>
        <div class="col">
          <a href="{% url 'supportdesk_client_request_list' %}" class="btn btn-block btn-secondary">My requests ({{ request_count }})</a>
        </div>
        <div class="col">
          <a href="{% url 'supportdesk_client_request_add' %}" class="btn btn-block btn-primary">+ New request</a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="container p-5">
  <div class="row mb-5 mt-5">
  </div>
  <div class="row mt-5">
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1 class="h3 mb-2">
        My requests
      </h1>
    </div>
  </div>
  {% for request in requests %}
  <div class="row justify-content-center mt-2 mb-4 border border-secondary">
    <div class="col-md-12 p-4">
      <div class="row">
        <div class="col-md-6">
          <h2 class="h4">{{ request.summary }}</h2>
        </div>
        <div class="col-md-2">
          {{ request.high_priority|request_priority_tag }}
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
          {{ request.status|request_status_tag }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-1">
          <p>{{ request.description }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 p-1">
          <span>
            <img src="{% static "assets/img/icons/theme/home/clock.svg" %}" alt="user icon">
            {{ request.requested|request_created_text }}
          </span>
        </div>
        <div class="col-md-2 p-1">
        </div>
        <div class="col-md-6 p-1">
          <span>
            <img src="{% static "assets/img/icons/theme/general/user.svg" %}" alt="user icon">
            {% if request.assigned_to %}
            Assigned to {{ request.assigned_to.email }}
            {% else %}
            Unassigned
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</div>

{% endblock %}
